* {
    list-style: none;
    text-decoration: none;
}

.text-center {
    text-align: center;
}
.home-box {
    text-align: center;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px #aaa;
    display: grid;
    place-content: center;
    color: black;
    text-decoration: none
}