

<section class="container">

    <div style="margin-top: 5rem; display: flex; justify-content: space-evenly; gap: 2rem 0; font-family: 'Roboto' ;">
        <a asp-controller="HocSinh" asp-action="Home" class="home-box">
            <i class="fas fa-user-graduate" style="font-size: 50px; margin-bottom: 20px;"></i>
            <h4>QL Học Sinh</h4>
        </a>
        <a asp-controller="MonHoc" asp-action="Index" class="home-box">
            <i class="fas fa-window-maximize" style="font-size: 50px; margin-bottom: 20px;"></i>
            <h4>QL Điểm Số</h4>
        </a>
        <a asp-controller="TongKet" asp-action="Home" class="home-box">
            <i class="far fa-newspaper" style="font-size: 50px; margin-bottom: 20px;"></i>
            <h4>Tổng kết</h4>
        </a>

    </div>
</section>


